#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     4,18,24089,2
PRODUCTVERSION  4,18,24089,2
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Microsoft Corporation"
            VALUE "FileDescription",  "Antimalware Core Service"
            VALUE "FileVersion",      "4.18.24089.2"
            VALUE "InternalName",     "MpDefenderCoreService"
            VALUE "LegalCopyright",   "\251 Microsoft Corporation. All rights reserved."
            VALUE "OriginalFilename", "MpDefenderCoreService.exe"
            VALUE "ProductName",      "Microsoft Windows Operating System"
            VALUE "ProductVersion",   "4.18.24089.2"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
